<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <!-- 设置root日志级别为INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    
    <!-- 设置com.example包的日志级别为INFO，减少生产环境日志 -->
    <logger name="com.example" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 设置springframework.web的日志级别为INFO，减少HTTP请求日志 -->
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 设置org.apache.catalina的日志级别为INFO，减少Tomcat日志 -->
    <logger name="org.apache.catalina" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 设置javax.sql的日志级别为INFO，减少数据库操作日志 -->
    <logger name="javax.sql" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 设置com.baomidou的日志级别为INFO，减少MyBatis-Plus日志 -->
    <logger name="com.baomidou" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- 设置MediaFileController的日志级别为INFO，减少生产环境日志 -->
    <logger name="com.example.xiaoniangao.controller.MediaFileController" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>